h1 { 
	font-family: system-ui;
}

body {
	padding: 50px;
}

th {
	background-color: #89CFF0;
}

table {
	width: 100%;
	border-collapse: collapse;
	background-color: white;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

th, td {
	font-family: system-ui;
	border: 1px solid black;
	padding: 12px;
	text-align: left;
}

code {
	font-family: Monaco;
	background-color: #F0DD89;
}